div,
body,
html,
ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

body {
    line-height: 1;
    font-size: 16px;
    color: #313131;
    font-family: 'Droid Sans Fallback';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.body {
    background-color: #F6F6F6;
}

a {
    text-decoration: none;
    font-size: 100%;
    color: #333;
}

a:visited {
    color: #222;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

input,
a,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, input:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

input {
    outline: none;
}

.space {
    padding: 0 3px;
    font-size: 12px;
    position: relative;
    top: -1px;
    color: #BFBFBF;
}

.hot {
    color: red;
}

.em,
.item-game .info .em {
    color: #FA9713 !important;
}

*:focus {
    outline: none;
}

.hide {
    display: none;
}

.press {
    background-color: #F6F6F6;
}


.loading {position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1000; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; }
.loading .outer {
    display: block; -webkit-background-size: 64px auto; background-size: 64px auto;
    background-repeat: no-repeat; width: 64px; height: 64px;
    background: url(../images/loading.png) no-repeat; animation: spin 800ms infinite linear;
}

@keyframes spin {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.code{
  background-color: #F6F6F6;
}
.code .panel{
   margin-top: 16px;
   background-color: white;
}

.code .panel .hd {
    height: 44px;
    position: relative;
    padding: 0 0 0 16px;
    border-bottom: 1px solid #e8e8e8
}

.code .panel .hd .more {
    position: absolute;
    top: 12px;
    right: 14px;
}

.code .panel .hd .more a {
    color: #707070;
    font-size: 12px;
}

.code .panel .hd h2 {
    display: -webkit-box;
    height: 44px;
    -webkit-box-align: center;
    font-weight: normal;
    color: #303030;
    font-size: 16px;
}

.code .list .list-item {
    padding: 14px;
    border-bottom: 1px solid #e8e8e8
}

.code .list .list-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.code .list .list-item:active {
    background-color: #f0f0f0
}

.code .list .item-logo {
    display: inline-block;
    float: left;
    width: 60px;
    height: 60px
}

.code .list .item-desc {
    margin-left: 70px;
    height: 62px;
    color: #333
}

.code .list .item-title {
    font-size: 16px;
    margin-bottom: 6px;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}



.code .list .item-info {
    margin-bottom: 6px;
    width: 100%;
    height: 15px;
    line-height: 15px
}

.code .list .item-info:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.code .list .item-left {
    font-size: 12px;
    float: left;
    width: 98%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.code .list .item-right {
    font-size: 16px;
    color: #00b38a;
    float: right
}

.code .list .item-time {
    font-size: 12px;
    color: #888
}